

body [class*="col_"] {
  height: calc(100vh / 5);
  text-align: center;
  background-color: pink;
  border: 1px solid #000000;
}
.row{
  height: 100%;
}
body [class*="nested"] {
  height: 100%;
  background-color: #f07f80;
  border: 1px solid #ffffff;
}
h4{
  font-size: 1.2em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

